.s-hero{
    width: 100%;
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    .opacity{
        width: 100%;
        background: linear-gradient(180deg, transparent, transparent, rgba(0, 0, 0, 0.9));
    }
    .container{
        .main-hero{
            height: 76.8rem;
            width: 100%;
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            .text-center{
                width: 100%;
                display: none;
                margin-bottom: 25rem;
                max-width: 60rem;
                text-align: center;
                padding: 1rem;
                background-color: rgb(2, 1, 24);
                border: 2px solid rgb(68, 62, 6);
                p, a{
                    font-size: 1.2rem;
                    color: #fff;
                }
                p{
                    padding-bottom: 3rem;
                }
                a{
                    margin-top: 1rem;
                    background-color: rgb(68, 62, 6);
                    padding: 1rem 2rem;
                    text-transform: uppercase;
                    border: 2px solid rgba(219, 200, 30, 0.774);
                }
                &.active{
                    display: block;
                }
            }
            .main-bottom{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .img{
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    max-width: 40rem;
                    justify-content: space-between;
                    #logo-1{
                        width: 10rem;
                        height: 10rem;
                    }
                    .linha::after{
                        content: "";
                        position: absolute;
                        width: 0.2rem;
                        top: 50%;
                        transform:translate(-50%, -50%);
                        border-radius: 0.5rem;
                        height: 10rem;
                        background-color:rgba(219, 200, 30, 0.774);
                    }
                    #logo-2{
                        width: 20rem;
                    }
                }
                .download{
                    width: 100%;
                    position: relative;
                    align-self: flex-end;
                    padding-bottom: 1rem;
                    max-width: 50rem;
                    .text-download{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .left{
                        display: flex;
                        align-items: center;
                        .icon{
                            padding: 1rem;
                            background-color: #0cb6d4;
                            width: 3.5rem;
                            border-radius: 50%;
                            height: 3.5rem;
                            margin-right: 1rem;
                        }
                        h6, span{
                            color: #ccc;
                            font-weight: 800;
                            font-size: 1.5rem;
                        }
                        .number, .mb{
                            color: #0cb6d4;
                        }
                        .mb{
                            margin-left: 1rem;
                        }
                        .barra{
                            margin: 0rem 0.5rem;
                        }
                    }
                    .right{
                        span{
                            font-size: 3.5rem;
                            font-weight: 800;
                            color: #fff;
                        }
                    }
                    .progresso{
                        width: 100%;
                        max-width: 50rem;
                        margin-top: 1rem;
                        height: 2rem;
                        border-radius: 0.2rem;
                        background-color: #e4e4e46b;
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            max-width: 5rem;
                            height: 2rem;
                            background-color: #0cb6d4;
                        }
                        &.meio::after{
                            max-width: 25rem;
                        }
                        &.fim::after{
                            max-width: 50rem;
                        }
                    }
                    .instalar{
                        background-color: #0cb6d4;
                        padding: 1.5rem 8rem;
                        top: 50%;
                        left: 50%;
                        transform:translate(-50%, -50%);
                        position: absolute;
                        transition: all .3s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        display: none;
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            color: rgb(31, 31, 31);
                            h6{
                                font-size: 1.8rem;
                            }
                            span{
                                font-weight: bold;
                                font-size: 1.4rem;
                            }
                        }
                        &.active{
                            display: flex;
                        }
                    }
                    &.active{
                        align-self: center;
                        .text-download{
                            display: none;
                        }
                        .progresso{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}